:root {
    --style__border:2px solid #535353;
    --tamaño__casilla:75px;
    --tamaño__ficha: calc(var(--tamaño__casilla) * 0.8);
    --Dark__color:#a17e68;
    --light__color:#d6c3aA;
    --ficha__D:#292929;
    --ficha__L:#d50a0a;
    --color__borde_ficha_D:#525252;
    --color__borde_ficha_L:#770707;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:antiquewhite;
}

.title {
    text-align:center;
}

.Tablero {
    align-self:center;
    width:45%;
    border:var(--style__border);
}

.Fila:nth-child(2n + 1) .casilla:nth-child(2n + 1) {
    background-color:var(--light__color);
}

.Fila:nth-child(2n + 1) .casilla:nth-child(2n + 2) {
    background-color:var(--Dark__color);
}

.Fila:nth-child(2n + 2) .casilla:nth-child(2n + 1) {
    background-color:var(--Dark__color);
}

.Fila:nth-child(2n + 2) .casilla:nth-child(2n + 2) {
    background-color:var(--light__color);
}

.Fila {
    height:67px;
    width:100%;
    margin-bottom:8px;
    display:flex;
}

.casilla {
    width:var(--tamaño__casilla);
    height:var(--tamaño__casilla);
    border:var(--style__border);
    display:flex;
    align-items:center;
    justify-content:center;
}

.Ficha {
    width:var(--tamaño__ficha);
    height:var(--tamaño__ficha);
    border-radius:50%;
    border:8px double;
}

.Ficha__reina {
    border:18px double;
}

.Ficha__D {
    background-color:var(--ficha__D);
    border-color:var(--color__borde_ficha_D);
}

.Ficha__L {
    background-color:var(--ficha__L);
    border-color:var(--color__borde_ficha_L);
}